<h1>Library</h1>
<%= link_to 'add book', new_book_path %>
<% @books.each do |book| %>
    <li>Book: <%= book.name %> | Author: <%= book.author %> | Review: <%= book.review %> | <%= link_to 'show',book_path(book) %> | <%= link_to 'edit',edit_book_path(book) %> | <%= link_to 'delete',book_path(book),method: :delete, data: {confirm: "Are you sure you want to delete this book?"} %></li>
<% end %>